h1 {
    font-size: 45px;
    margin-left: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    font-size: 20px;
    background-color: rgba(190, 147, 66, 0.8);
    color: white;
    outline: none;
}

.table tr th:first-child,
.table tr td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.table tr th:last-child,
.table tr td:last-child {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.table tbody tr:nth-child(even) {
    background-color: bisque;
}

.table td:first-child {
    padding-left: 10px;
}

.tableFooter {
    height: 25px;
}

.inputForms {
    border-radius: 15px;
    background-color: rgba(209, 204, 204, 0.8);
    padding: 10px;
}

#projectTable th:first-child {
    width: 70%;
}

#projectTable , 
#entryTable tbody td:nth-child(3), 
#entryTable tbody td:nth-child(4), 
#entryTable tbody td:nth-child(5) {
    text-align: center;
}

#projectSubmitBtn {
    text-align: right;
}

.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

#entryTable tbody td:first-child {
    width: 45%;
}