<div>
    <h2>Add Entry</h2>
    <form ng-submit="vm.addNewEntry(vm.entryForm)">
        <input type="text" placeholder="What did you do?" ng-model="vm.entryForm.entry" required><br>
        <select ng-model="vm.entryForm.projectId" required>
            <option value="">---- select ----</option>
            <option ng-repeat="project in vm.projects" ng-value="project.id">{{ project.project_name }}</option>
        </select>
        <input type="date" ng-model="vm.entryForm.date" required>
        <input type="time" ng-model="vm.entryForm.startTime" required>
        <input type="time" ng-model="vm.entryForm.endTime" required>
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <h2>History</h2>
    <table>
        <thead>
            <tr>
                <th>Entry</th>
                <th>Project</th>
                <th>Date</th>
                <th>Hours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="entry in vm.entries">
                <td>{{ entry.entry }}</td>
                <td>{{ entry.project_id }}</td>
                <td>{{ entry.work_date }}</td>
                <td>{{ entry.work_hour }}</td>
                <td>Actions</td>
            </tr>
        </tbody>
    </table>
</div>