<md-dialog aria-label="Mango (Fruit)">
    <form name="newEntryForm" ng-submit="updateEntry(newEntry)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit Entry</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="popupCancel()">
                    X
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Entry</label>
                    <input required name="entryContent" ng-model="newEntry.entry" ng-value="entry.entry" placeholder="What did you do?">
                    <div ng-messages="newEntryForm.entryContent.$error" role="alert">
                        <div ng-message="required">Can't submit without entry content</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Project</label>
                    <md-select name="projectSelect" ng-model="newEntry.projectId" required>
                        <md-option ng-repeat="project in projects" ng-value="project.id" ng-selected="project.project_name == entry.project_name">{{
                            project.project_name }}</md-option>
                    </md-select>
                    <div ng-messages="newEntryForm.projectSelect.$error" role="alert">
                        <div ng-message="required">Can't submit without project</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Work Date</label>
                    <md-datepicker ng-model="newEntry.date" name="date" required></md-datepicker>
                    <div ng-messages="newEntryForm.date.$error" role="alert">
                        <div ng-message="required">Can't submit without date</div>
                    </div>
                </md-input-container>
                <div>
                    <md-input-container>
                        <label>Start Time</label>
                        <input type="time" name="startTime" ng-model="newEntry.startTime" required>
                        <div class="hint">Previous start time was {{ entry.start_time }}</div>
                        <div ng-messages="newEntryForm.startTime.$error" role="alert">
                            <div ng-message="required">Can't submit without start time</div>
                        </div>
                    </md-input-container>
                    <md-input-container>
                        <label>End Time</label>
                        <input type="time" name="endTime" ng-model="newEntry.endTime" required>
                        <div class="hint">Previous end time was {{ entry.end_time }}</div>
                        <div ng-messages="newEntryForm.endTime.$error" role="alert">
                            <div ng-message="required">Can't submit without end time</div>
                        </div>
                    </md-input-container>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button type="submit">
                Update
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>