<div>
    <h2>Add Entry</h2>
    <form>
        <input type="text" placeholder="What did you do?"><br>
        <select>
            <option value="">Project</option>
        </select>
        <input type="date">
        <input type="datetime">
        <input type="datetime">
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <table>
        <thead>
            <tr>
                <td>Entry</td>
                <td>Project</td>
                <td>Date</td>
                <td>Hours</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Entry</td>
                <td>Project</td>
                <td>Date</td>
                <td>Hours</td>
                <td>Actions</td>
            </tr>
        </tbody>
    </table>
</div>