<div>
    <h2>Add Project</h2>
    <form ng-submit="vm.addNewProject(vm.projectForm)">
        <input type="text" placeholder="Project name" ng-model="vm.projectForm.projectName">
        <input type="submit" value="Submit">
    </form>
</div>
<div>
    <h2>History</h2>
    <table>
        <thead>
            <tr>
                <td>Project</td>
                <td>Total Hours</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects">
                <td>{{ project.project_name }}</td>
                <td>Total Hours</td>
                <td>Actions</td>
            </tr>
        </tbody>
    </table>
</div>