<div layout-margin>
    <h2>Add Project</h2>
    <md-content layout-padding>
        <form ng-submit="vm.addNewProject(vm.projectForm)">
            <div layout="column">
                <md-input-container class="md-block">
                    <label>Project Name</label>
                    <input required name="projectName" ng-model="vm.projectForm.projectName">
                    <div id="projectSubmitBtn">
                        <md-button type="submit" class="md-primary md-raised">Submit</md-button>
                    </div>
                </md-input-container>
            </div>
        </form>
    </md-content>
</div>
<div>
    <h2>History</h2>
    <table>
        <thead>
            <tr>
                <th>Project</th>
                <th>Total Hours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="project in vm.projects">
                <td>{{ project.project_name }}</td>
                <td>{{ project.total_hours }}</td>
                <td>Delete</td>
            </tr>
        </tbody>
    </table>
</div>