<div class="inputForms" layout-margin>
    <h2>Add Project</h2>
    <form name="projectForm" ng-submit="vm.addNewProject(vm.projectForm)">
        <div layout="row" layout-xs="column">
            <md-input-container flex class="md-block">
                <label>Project Name</label>
                <input name="projectName" ng-model="vm.projectForm.projectName" required>
                <div ng-messages="projectForm.projectName.$error" role="alert">
                    <div ng-message="required">Can't submit without project name.</div>
                </div>
            </md-input-container>
            <md-input-container flex="15" flex-xs="100" id="projectSubmitBtn">
                <md-button type="submit" class="md-primary md-raised">Submit</md-button>
            </md-input-container>
        </div>
    </form>
</div>
<div layout-margin>
    <h2>Projects</h2>
    <div layout="column">
        <table class="table" id="projectTable">
            <thead>
                <tr>
                    <th ng-click="vm.orderByKeyword('project_name')">Project
                        <span class="sortorder" ng-show="vm.orderBy === 'project_name'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th ng-click="vm.orderByKeyword('total_hours')">Total Hours
                        <span class="sortorder" ng-show="vm.orderBy === 'total_hours'" ng-class="{reverse: vm.reverse}"></span>
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="project in vm.projects | orderBy:vm.orderBy:vm.reverse">
                    <td ng-click="vm.updateProjectName($event, project)">{{ project.project_name }}</td>
                    <td>{{ project.total_hours }}</td>
                    <td>
                        <md-button ng-click="vm.deleteProject(project)" class="md-warn">Delete</md-button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="tableFooter">
                    <td colspan="3"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>